.box-explore
{
    height: 300px;
    background-color: $background-color-primary;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__description
    {
        width: 67%;
        height: 100%;
        background-color: $background-color-primary;
        display: flex;
        justify-content: space-around;
        align-items: center;

        &__title
        {
            width: 32%;
            color: #4d4d4d;
            text-align: center;
            margin: auto;
            font-size: 1em;
        }

        &__para
        {
            width: 35%;
            margin: auto;
            text-align: center;
            color: #4d4d4d;
            font-weight: bold;
            font-size: 1em;
        }

    }

    &__button
    {
        @include button;
    }
 
}