@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
p {
  font-size: 0.8em;
}

a {
  text-decoration: none;
  color: black;
}

strong {
  font-weight: bolder;
}

span {
  color: #606060;
}

h1 {
  font-size: 1.2em;
}

h2 {
  font-family: "Shrikhand", cursive;
}

.body__loader {
  width: 100%;
  height: 1801px;
  color: #9356DC;
  background-color: #99E2D0;
  position: absolute;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-transform: uppercase;
  font-family: "Shrikhand", cursive;
  -webkit-animation: opacity-loader 2800ms 2000ms forwards;
          animation: opacity-loader 2800ms 2000ms forwards;
}

.body__loader__icon {
  font-size: 20px;
  margin-top: 150px;
  margin-right: 20px;
  color: #9356DC;
  -webkit-animation: rotate 400ms infinite, hidden-text 2300ms 1700ms forwards;
          animation: rotate 400ms infinite, hidden-text 2300ms 1700ms forwards;
}

.body__loader__para {
  font-size: 20px;
  margin-top: 150px;
  border: none;
  -webkit-animation: slide alternate infinite 700ms, hidden-text 2000ms 1900ms forwards;
          animation: slide alternate infinite 700ms, hidden-text 2000ms 1900ms forwards;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    color: #9356DC;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    color: #FF79DA;
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    color: #9356DC;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    color: #FF79DA;
  }
}

@-webkit-keyframes slide {
  0% {
    margin-right: 10%;
  }
  100% {
    margin-right: 0%;
  }
}

@keyframes slide {
  0% {
    margin-right: 10%;
  }
  100% {
    margin-right: 0%;
  }
}

@-webkit-keyframes opacity-loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes opacity-loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes hidden-text {
  0% {
    font-size: 20px;
  }
  100% {
    font-size: 0px;
  }
}

@keyframes hidden-text {
  0% {
    font-size: 20px;
  }
  100% {
    font-size: 0px;
  }
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

.box-header {
  height: 77px;
  text-align: center;
  padding-top: 20px;
}

.box-header__logo {
  width: 145px;
  margin-bottom: 10px;
}

.box-header__research {
  height: 40px;
  background-color: #eaeaea;
  -webkit-box-shadow: inset 0px 12px 3px -10px #cbcbcb;
          box-shadow: inset 0px 12px 3px -10px #cbcbcb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-header__research__icon {
  width: 20px;
  margin-right: 5px;
}

.box-header__research__input {
  width: 105px;
  height: 26px;
  font-size: 0.9em;
  font-weight: 500;
  border: none;
  text-align: start;
  background-color: #eaeaea;
}

.box-header__research__input::-webkit-input-placeholder {
  color: #353535;
}

.box-header__research__input:-ms-input-placeholder {
  color: #353535;
}

.box-header__research__input::-ms-input-placeholder {
  color: #353535;
}

.box-header__research__input::placeholder {
  color: #353535;
}

.box-header__research__input:focus {
  outline-style: none;
}

.box-explore {
  height: 230px;
  background-color: #f6f6f6;
}

.box-explore__description {
  height: 115px;
  background-color: #f6f6f6;
  padding-top: 30px;
}

.box-explore__description__title {
  width: 220px;
  text-align: center;
  margin: auto;
}

.box-explore__description__para {
  width: 230px;
  margin: 10px auto;
  text-align: center;
  color: #4d4d4d;
  font-weight: 400;
}

.box-explore__button {
  width: 180px;
  height: 40px;
  color: white;
  margin: auto;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 50px;
  -webkit-box-shadow: 0px 5px 5px #d7d7d7;
          box-shadow: 0px 5px 5px #d7d7d7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
}

.box-explore__button:hover {
  -webkit-box-shadow: 0px 5px 5px #9d9d9d;
          box-shadow: 0px 5px 5px #9d9d9d;
  opacity: 0.8;
}

.box-process {
  height: 290px;
  margin-top: 30px;
  counter-reset: listprocess;
}

.box-process__title {
  width: 270px;
  margin: 20px auto;
}

.box-process__list {
  width: 250px;
  margin: auto;
  width: 250px;
  height: 50px;
  margin: auto;
  background-color: #f6f6f6;
  border-radius: 15px;
  -webkit-box-shadow: 0px 5px 8px #e2e2e2;
          box-shadow: 0px 5px 8px #e2e2e2;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}

.box-process__list:hover {
  background-color: #f4eefc;
}

.box-process__list:hover .box-process__list__icon {
  color: #9356DC;
}

.box-process__list::before {
  content: counter(listprocess);
  counter-increment: listprocess;
  border: 1px solid #9356DC;
  padding: 3px 5px;
  background-color: #9356DC;
  color: #F2F2F2;
  border-radius: 10px;
  font-size: 10px;
  position: relative;
  right: 10px;
}

.box-process__list__icon {
  width: 30px;
  padding-left: 10px;
  color: #7e7e7e;
}

.box-restaurants {
  height: 970px;
  background-color: #f6f6f6;
  padding-top: 20px;
}

.box-restaurants__title {
  width: 250px;
  margin: 20px auto;
}

.box-restaurants__lapalettedugout, .box-restaurants__lanoteenchantee, .box-restaurants__alafrancaise, .box-restaurants__ledelicedessens {
  width: 250px;
  height: 200px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 10px #F2F2F2;
          box-shadow: 2px 2px 10px #F2F2F2;
  background-color: white;
  margin: 20px auto;
}

.box-restaurants__lapalettedugout__image, .box-restaurants__lanoteenchantee__image, .box-restaurants__alafrancaise__image, .box-restaurants__ledelicedessens__image {
  width: 100%;
  height: 70%;
}

.box-restaurants__lapalettedugout__image__photo, .box-restaurants__lanoteenchantee__image__photo, .box-restaurants__alafrancaise__image__photo, .box-restaurants__ledelicedessens__image__photo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 10px 10px 0px 0px;
}

.box-restaurants__lapalettedugout__image__newbutton, .box-restaurants__lanoteenchantee__image__newbutton, .box-restaurants__alafrancaise__image__newbutton, .box-restaurants__ledelicedessens__image__newbutton {
  width: 50px;
  height: 20px;
  position: relative;
  left: 170px;
  bottom: 150px;
  border: 1px solid #99E2D0;
  border-radius: 2px;
  padding: 1px 10px;
  background-color: #99E2D0;
  color: #008766;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-restaurants__lapalettedugout__para, .box-restaurants__lanoteenchantee__para, .box-restaurants__alafrancaise__para, .box-restaurants__ledelicedessens__para {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box-restaurants__lapalettedugout__para__description, .box-restaurants__lanoteenchantee__para__description, .box-restaurants__alafrancaise__para__description, .box-restaurants__ledelicedessens__para__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 20px;
}

.box-restaurants__lapalettedugout__para__icon, .box-restaurants__lanoteenchantee__para__icon, .box-restaurants__alafrancaise__para__icon, .box-restaurants__ledelicedessens__para__icon {
  width: 10%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: 1f1f1f;
}

.box-restaurants__lapalettedugout__para__icon:hover .box-restaurants__lapalettedugout__para__icon__heartempty, .box-restaurants__lapalettedugout__para__icon:hover .box-restaurants__lanoteenchantee__para__icon__heartempty, .box-restaurants__lapalettedugout__para__icon:hover .box-restaurants__alafrancaise__para__icon__heartempty, .box-restaurants__lapalettedugout__para__icon:hover .box-restaurants__ledelicedessens__para__icon__heartempty, .box-restaurants__lanoteenchantee__para__icon:hover .box-restaurants__lapalettedugout__para__icon__heartempty, .box-restaurants__lanoteenchantee__para__icon:hover .box-restaurants__lanoteenchantee__para__icon__heartempty, .box-restaurants__lanoteenchantee__para__icon:hover .box-restaurants__alafrancaise__para__icon__heartempty, .box-restaurants__lanoteenchantee__para__icon:hover .box-restaurants__ledelicedessens__para__icon__heartempty, .box-restaurants__alafrancaise__para__icon:hover .box-restaurants__lapalettedugout__para__icon__heartempty, .box-restaurants__alafrancaise__para__icon:hover .box-restaurants__lanoteenchantee__para__icon__heartempty, .box-restaurants__alafrancaise__para__icon:hover .box-restaurants__alafrancaise__para__icon__heartempty, .box-restaurants__alafrancaise__para__icon:hover .box-restaurants__ledelicedessens__para__icon__heartempty, .box-restaurants__ledelicedessens__para__icon:hover .box-restaurants__lapalettedugout__para__icon__heartempty, .box-restaurants__ledelicedessens__para__icon:hover .box-restaurants__lanoteenchantee__para__icon__heartempty, .box-restaurants__ledelicedessens__para__icon:hover .box-restaurants__alafrancaise__para__icon__heartempty, .box-restaurants__ledelicedessens__para__icon:hover .box-restaurants__ledelicedessens__para__icon__heartempty {
  color: transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
}

.box-restaurants__lapalettedugout__para__icon:hover .box-restaurants__lapalettedugout__para__icon__heartfull, .box-restaurants__lapalettedugout__para__icon:hover .box-restaurants__lanoteenchantee__para__icon__heartfull, .box-restaurants__lapalettedugout__para__icon:hover .box-restaurants__alafrancaise__para__icon__heartfull, .box-restaurants__lapalettedugout__para__icon:hover .box-restaurants__ledelicedessens__para__icon__heartfull, .box-restaurants__lanoteenchantee__para__icon:hover .box-restaurants__lapalettedugout__para__icon__heartfull, .box-restaurants__lanoteenchantee__para__icon:hover .box-restaurants__lanoteenchantee__para__icon__heartfull, .box-restaurants__lanoteenchantee__para__icon:hover .box-restaurants__alafrancaise__para__icon__heartfull, .box-restaurants__lanoteenchantee__para__icon:hover .box-restaurants__ledelicedessens__para__icon__heartfull, .box-restaurants__alafrancaise__para__icon:hover .box-restaurants__lapalettedugout__para__icon__heartfull, .box-restaurants__alafrancaise__para__icon:hover .box-restaurants__lanoteenchantee__para__icon__heartfull, .box-restaurants__alafrancaise__para__icon:hover .box-restaurants__alafrancaise__para__icon__heartfull, .box-restaurants__alafrancaise__para__icon:hover .box-restaurants__ledelicedessens__para__icon__heartfull, .box-restaurants__ledelicedessens__para__icon:hover .box-restaurants__lapalettedugout__para__icon__heartfull, .box-restaurants__ledelicedessens__para__icon:hover .box-restaurants__lanoteenchantee__para__icon__heartfull, .box-restaurants__ledelicedessens__para__icon:hover .box-restaurants__alafrancaise__para__icon__heartfull, .box-restaurants__ledelicedessens__para__icon:hover .box-restaurants__ledelicedessens__para__icon__heartfull {
  color: transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
}

.box-restaurants__lapalettedugout__para__icon__heartempty, .box-restaurants__lanoteenchantee__para__icon__heartempty, .box-restaurants__alafrancaise__para__icon__heartempty, .box-restaurants__ledelicedessens__para__icon__heartempty {
  width: 18px;
  color: #606060;
  position: absolute;
  -webkit-transition: all ease-in 500ms;
  transition: all ease-in 500ms;
}

.box-restaurants__lapalettedugout__para__icon__heartfull, .box-restaurants__lanoteenchantee__para__icon__heartfull, .box-restaurants__alafrancaise__para__icon__heartfull, .box-restaurants__ledelicedessens__para__icon__heartfull {
  width: 18px;
  color: white;
  -webkit-transition: all ease-in 800ms;
  transition: all ease-in 800ms;
}

.box-footer {
  background-color: #353535;
  color: white;
  font-weight: 500;
  font-size: 0.7em;
}

.box-footer__title {
  width: 250px;
  margin: auto;
  padding-top: 20px;
}

.box-footer__list {
  width: 250px;
  height: 100px;
  margin: auto;
  list-style-type: none;
  padding: 10px 0px;
}

.box-footer__list__li {
  width: 270px;
  line-height: 20px;
}

.box-footer__list__li a {
  color: white;
}

.box-footer__list__icon {
  margin-right: 15px;
}

.box-footer__list__iconhands {
  margin-right: 10px;
}
/*# sourceMappingURL=homepage.css.map */