@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
a {
  text-decoration: none;
  color: black;
}

h2 {
  font-family: "Shrikhand", cursive;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

.box-footer {
  background-color: black;
  color: white;
  font-weight: 500;
  font-size: 0.7em;
}

.box-footer__title {
  width: 250px;
  margin: auto;
  padding-top: 20px;
}

.box-footer__list {
  width: 250px;
  height: 100px;
  margin: auto;
  list-style-type: none;
  padding: 10px 0px;
}

.box-footer__list__li {
  width: 270px;
  line-height: 20px;
}

.box-footer__list__li a {
  color: white;
}

.box-footer__list__icon {
  margin-right: 15px;
}

.box-footer__list__iconhands {
  margin-right: 10px;
}

.box-header {
  width: 90%;
  height: 40px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  margin-bottom: 10px;
}

.box-header__icon {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-header__logo {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-header__logo img {
  width: 145px;
}

.box-menu {
  width: 100%;
  height: auto;
  background-color: #f7f7f7;
  padding-bottom: 50px;
}

.box-menu__restaurants {
  width: 100%;
  height: 215px;
}

.box-menu__restaurants__photorestaurant {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
}

.box-menu__restaurants__infos {
  width: 100%;
  height: 50px;
  background-color: #f7f7f7;
  border-radius: 30px 30px 0px 0px;
  position: absolute;
  z-index: 1;
  margin-top: 160px;
}

.box-menu__restaurants__infos__precisions {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box-menu__restaurants__infos__precisions__title {
  width: 93%;
  font-family: "Shrikhand", cursive;
  font-size: 1.3em;
  padding-top: 25px;
  margin: 0px;
  margin-left: 5px;
}

.box-menu__restaurants__infos__precisions__icon {
  width: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 25px;
  margin-right: 5px;
}

.box-menu__starter, .box-menu__main, .box-menu__dessert {
  width: 90%;
  height: auto;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.box-menu__starter__title, .box-menu__main__title, .box-menu__dessert__title {
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.8em;
  color: #595959;
  border-bottom: 2px solid #99E2D0;
  padding: 10px 0px 5px 0px;
  margin-left: 5px;
}

.box-menu__starter__para, .box-menu__main__para, .box-menu__dessert__para {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px #d9d9d9;
          box-shadow: 0px 0px 10px #d9d9d9;
  line-height: 8px;
  margin-bottom: 10px;
}

.box-menu__starter__para strong, .box-menu__main__para strong, .box-menu__dessert__para strong {
  font-size: 0.8em;
  padding-left: 10px;
  margin-top: 10px;
}

.box-menu__starter__para--hidden, .box-menu__main__para--hidden, .box-menu__dessert__para--hidden {
  width: 142px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 2px 0px;
}

.box-menu__starter__para--size, .box-menu__main__para--size, .box-menu__dessert__para--size {
  width: 150px;
  line-height: 12px;
}

.box-menu__starter__para__precisions, .box-menu__main__para__precisions, .box-menu__dessert__para__precisions {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 6px 0px 0px 0px;
}

.box-menu__starter__para__precisions p, .box-menu__main__para__precisions p, .box-menu__dessert__para__precisions p {
  margin: 0px;
  font-size: 0.65em;
  color: #595959;
  width: 250px;
  line-height: 12px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.box-menu__starter__para__precisions--width, .box-menu__main__para__precisions--width, .box-menu__dessert__para__precisions--width {
  max-width: 170px;
}

.box-menu__starter__para__precisions--lineheight, .box-menu__main__para__precisions--lineheight, .box-menu__dessert__para__precisions--lineheight {
  padding-top: 3px;
}

.box-menu__starter__para__precisions strong, .box-menu__main__para__precisions strong, .box-menu__dessert__para__precisions strong {
  min-width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 0.7em;
  margin: 0px 0px 10px 0px;
  padding-left: 0px;
}

.box-menu__starter__para--ellipsis, .box-menu__main__para--ellipsis, .box-menu__dessert__para--ellipsis {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 6px 0px 0px 0px;
}

.box-menu__starter__para--ellipsis p, .box-menu__main__para--ellipsis p, .box-menu__dessert__para--ellipsis p {
  margin: 0px;
  font-size: 0.7em;
  color: #595959;
  width: 164px;
  line-height: 12px;
  padding-left: 10px;
  padding-bottom: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.box-menu__starter__para--ellipsis strong, .box-menu__main__para--ellipsis strong, .box-menu__dessert__para--ellipsis strong {
  min-width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  font-size: 0.8em;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.box-menu__button {
  width: 180px;
  height: 40px;
  color: white;
  margin: auto;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 50px;
  -webkit-box-shadow: 0px 5px 5px #cccccc;
          box-shadow: 0px 5px 5px #cccccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  margin-top: 40px;
}
/*# sourceMappingURL=menu-small-resolution.css.map */