@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
a {
  text-decoration: none;
  color: black;
}

h2 {
  font-family: "Shrikhand", cursive;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

.box-header {
  width: 90%;
  height: 40px;
  margin: auto;
  display: flex;
  padding-top: 10px;
  margin-bottom: 10px;
}
.box-header__icon {
  width: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.box-header__logo {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-header__logo img {
  width: 145px;
}

.box-menu {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  padding-bottom: 50px;
}
.box-menu__restaurants {
  width: 100%;
  height: 215px;
}
.box-menu__restaurants__photorestaurant {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  position: absolute;
}
.box-menu__restaurants__infos {
  width: 100%;
  height: 50px;
  background-color: #f7f7f7;
  border-radius: 30px 30px 0px 0px;
  position: absolute;
  z-index: 1;
  margin-top: 160px;
}
.box-menu__restaurants__infos__precisions {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-menu__restaurants__infos__precisions__title {
  font-family: "Shrikhand", cursive;
  font-size: 1.3em;
  padding-top: 25px;
  margin: 0px;
}
.box-menu__restaurants__infos__precisions__icon {
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  margin-left: 5px;
}
.box-menu__principal {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 1;
}
.box-menu__principal__starter, .box-menu__principal__main, .box-menu__principal__dessert {
  width: 60%;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  animation: visible 1000ms forwards;
}
.box-menu__principal__starter__title, .box-menu__principal__main__title, .box-menu__principal__dessert__title {
  width: 30px;
  display: flex;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.8em;
  color: #595959;
  border-bottom: 2px solid #99E2D0;
  padding: 10px 0px 5px 0px;
  margin-left: 5px;
}
.box-menu__principal__starter__para, .box-menu__principal__main__para, .box-menu__principal__dessert__para {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #dddddd;
  line-height: 8px;
  margin-bottom: 10px;
}
.box-menu__principal__starter__para strong, .box-menu__principal__main__para strong, .box-menu__principal__dessert__para strong {
  font-size: 0.8em;
  padding-left: 10px;
  margin-top: 10px;
}
.box-menu__principal__starter__para--hidden, .box-menu__principal__main__para--hidden, .box-menu__principal__dessert__para--hidden {
  width: 142px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 2px 0px;
}
.box-menu__principal__starter__para--size, .box-menu__principal__main__para--size, .box-menu__principal__dessert__para--size {
  width: 150px;
  line-height: 12px;
}
.box-menu__principal__starter__para__precisions, .box-menu__principal__main__para__precisions, .box-menu__principal__dessert__para__precisions {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 6px 0px 0px 0px;
}
.box-menu__principal__starter__para__precisions p, .box-menu__principal__main__para__precisions p, .box-menu__principal__dessert__para__precisions p {
  margin: 0px;
  font-size: 0.65em;
  color: #595959;
  width: 250px;
  line-height: 12px;
  padding-left: 10px;
  margin-bottom: 10px;
}
.box-menu__principal__starter__para__precisions--width, .box-menu__principal__main__para__precisions--width, .box-menu__principal__dessert__para__precisions--width {
  max-width: 170px;
}
.box-menu__principal__starter__para__precisions--lineheight, .box-menu__principal__main__para__precisions--lineheight, .box-menu__principal__dessert__para__precisions--lineheight {
  padding-top: 3px;
}
.box-menu__principal__starter__para__precisions strong, .box-menu__principal__main__para__precisions strong, .box-menu__principal__dessert__para__precisions strong {
  min-width: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 0.7em;
  margin: 0px 0px 10px 0px;
  padding-left: 0px;
}
.box-menu__principal__starter__para--ellipsis, .box-menu__principal__main__para--ellipsis, .box-menu__principal__dessert__para--ellipsis {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 6px 0px 0px 0px;
}
.box-menu__principal__starter__para--ellipsis p, .box-menu__principal__main__para--ellipsis p, .box-menu__principal__dessert__para--ellipsis p {
  margin: 0px;
  font-size: 0.7em;
  color: #595959;
  width: 164px;
  line-height: 12px;
  padding-left: 10px;
  padding-bottom: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.box-menu__principal__starter__para--ellipsis strong, .box-menu__principal__main__para--ellipsis strong, .box-menu__principal__dessert__para--ellipsis strong {
  min-width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: end;
  font-size: 0.7em;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-bottom: 5px;
}
.box-menu__secondary {
  width: 100%;
  height: auto;
  margin-top: 53px;
}
.box-menu__secondary__starter, .box-menu__secondary__main, .box-menu__secondary__dessert {
  width: 90%;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 53px;
  margin-bottom: 53px;
}
.box-menu__secondary__starter__checked, .box-menu__secondary__main__checked, .box-menu__secondary__dessert__checked {
  width: 95%;
  height: 46px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #99E2D0;
  border-radius: 10px;
  margin-bottom: 10px;
  padding-right: 18px;
}
.box-menu__secondary__starter__checked:hover .box-menu__secondary__starter__checked__icon, .box-menu__secondary__main__checked:hover .box-menu__secondary__starter__checked__icon, .box-menu__secondary__dessert__checked:hover .box-menu__secondary__starter__checked__icon {
  color: red;
}
.box-menu__secondary__starter__checked--width, .box-menu__secondary__main__checked--width, .box-menu__secondary__dessert__checked--width {
  width: 95%;
  height: 58px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #99E2D0;
  border-radius: 10px;
  margin-bottom: 10px;
  padding-right: 18px;
}
.box-menu__secondary__starter__checked__icon, .box-menu__secondary__main__checked__icon, .box-menu__secondary__dessert__checked__icon {
  color: white;
  transition: color 800ms;
}
.box-menu__button {
  width: 180px;
  height: 40px;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 50px;
  box-shadow: 0px 5px 5px #d7d7d7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  margin-right: 10px;
  text-align: center;
  padding: 0px 10px;
  margin-top: 40px;
}
.box-menu__button:hover {
  box-shadow: 0px 5px 5px #9d9d9d;
  opacity: 0.8;
}

@keyframes visible {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.box-menu__starter {
  animation-delay: 0.4s;
  visibility: hidden;
}

.box-menu__main {
  animation-delay: 0.7s;
  visibility: hidden;
}

.box-menu__dessert {
  animation-delay: 1s;
  visibility: hidden;
}

.box-footer {
  background-color: #353535;
  display: flex;
  flex: wrap;
  color: white;
  font-weight: 500;
}
.box-footer__title {
  width: 250px;
  margin: auto;
  text-align: center;
  font-size: 2em;
}
.box-footer__list {
  width: 250px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  list-style-type: none;
  padding: 10px 0px;
}
.box-footer__list__li {
  width: 270px;
  line-height: 25px;
  text-align: center;
}
.box-footer__list__li a {
  color: white;
}
.box-footer__list__icon {
  margin-right: 15px;
}
.box-footer__list__iconhands {
  margin-right: 10px;
}
