.box-process /*counter initialized to 0 on this parent element*/
{
    width: 90%;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    counter-reset: listprocess;
    

    &__title
    {
        width: 100%;
        height: 40px;
        text-align: center;
        font-size: 35px;
        margin-bottom: 0px;
    }

    &__list
    {
        @include greysmallbox;
        

        &::before /*counter applicated before list element with increment on each list element*/
        {
            content: counter(listprocess);
            counter-increment: listprocess;
            @include purplelist;
            position: relative;
            right: 10px;
        }

        &__icon 
        {
            width: 30px;
            padding-left: 10px;
            color: #7e7e7e;
        }
    
    }
        
}