$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$background-color-primary:#F2F2F2;
$background-color-secondary:black;
$font-family-primary:"Roboto", sans-serif;
$font-family-secondary:"Shrikhand", cursive;