.box-restaurants
{
    height: 970px;
    background-color: $background-color-primary;
    padding-top: 20px;

    &__title
    {
        width: 250px;
        margin: 20px auto;
    }

    &__lapalettedugout, &__lanoteenchantee, &__alafrançaise, &__ledelicedessens
    {
        @include largebox;

        &__image
        {
            @include boximage;

            &__photo
            {
                @include boxphoto;
            }

            &__newbutton
            {
                @include newbutton;
            }
        }

        &__para
        {
            width: 90%;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__description
            {
                display: flex;
                flex-direction: column;
                line-height: 20px;
                
            }

            &__icon
            {
                width: 10%;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                

                &--heartfull
                {   
                    background:linear-gradient($color-secondary, $color-primary);
                }
        
                
            }
        }
    }
}