@import "../../base/fonts";
@import "../../utils/variables/variables";
@import "../../utils/mixins/large-resolution/mixins";
@import "../../pages/large-resolution/p-homepage";
@import "../../layouts/large-resolution/a";
@import "../../pages/large-resolution/strong-homepage";
@import "../../pages/large-resolution/span-homepage";
@import "../../pages/large-resolution/h1-homepage";
@import "../../layouts/large-resolution/h2";
@import "../../layouts/large-resolution/body";
@import "../../pages/large-resolution/box-header-homepage";
@import "../../pages/large-resolution/box-explore-homepage";
@import "../../pages/large-resolution/box-process-homepage";
@import "../../pages/large-resolution/box-restaurants-homepage";
@import "../../layouts/large-resolution/footer";

.body__loader
{
    width: 100%;
    height: 1570px;
    color: $color-primary;
    background-color: rgba(grey, 0.5);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 50px;
    font-family: $font-family-secondary;

    &__icon
    {
        font-size: 45px;
        margin-right: 40px;
        color: $color-primary;
        animation: rotate 400ms infinite;
    }

    &__para
    {
        animation: slidein  alternate infinite 1500ms;
    }
    
}

@keyframes rotate
{
    0%
    {
        transform: rotate(90deg);
        color: $color-primary;
    }

    100%
    {
        transform: rotate(360deg);
        color: $color-secondary;
    }

}

@keyframes slidein
{
    0%
    {
        margin-left: 10%;
    }

    100%
    {
        margin-left: 0%;
    }
}