@import "./base/fonts";
@import "./utils/variables";
@import "./utils/mixins";


body
{
    margin: 0px;
    font-family: $font-family-primary;
}

.box-header
{
    height: 80px;
    text-align: center;

    &__logo
    {
        width: 30%;
        margin-top: 20px;
    }

    &__para
    {
        width: 400px;
        font-size: 0.6em;
        margin: auto;
        margin-top: 10px;
    }
}

.box-research
{
    height: 50px;
    background-color: darken($background-color-primary, 5%);
    display: flex;
    justify-content: center;
    box-shadow: inset 0px 1px 2px grey;

    &__icon
    {
        width: 5%;
        padding: 15px;
    }

    &__input
    {
        border: none;
        background-color: darken($background-color-primary, 5%);

        &::placeholder
        {
            color: black;
        }
    }
}


