@import "./base/fonts";
@import "./utils/variables";
@import "./utils/mixins";

h1
{
    font-size: 1.2em;
}

h2
{
    font-family: $font-family-secondary;
}

p
{
    font-size: 0.8em;
}

a
{
    text-decoration: none;
    color: black;
}

strong
{
    font-weight: bolder;
}

span
{
    color: darken(#F2F2F2, 60%);
}


body
{
    margin: 0px;
    font-family: $font-family-primary;
}

.box-header
{
    height: 77px;
    text-align: center;
    padding-top: 20px;

    &__logo
    {
        width: 145px;
        margin-bottom: 10px;
    }

    &__research
    {
        height: 40px;
        background-color: darken($background-color-primary, 3%);
        box-shadow: inset 0px 12px 3px -10px darken($background-color-primary, 25%);
        display: flex;
        justify-content: center;
        align-items: center;

        &__icon
        {
            width: 20px;
            margin-right: 5px;
        }

        &__input
        {
            width: 105px;
            height: 26px;
            font-size: 0.9em;
            font-weight: 500;
            border: none;
            text-align: start;
            background-color: darken($background-color-primary, 3%);

            &::placeholder
            {
                color: black;
            }
        }
    }
}

.box-explore
{
    height: 230px;
    background-color: lighten($background-color-primary, 2%);

    &__description
    {
        height: 115px;
        background-color: lighten($background-color-primary, 2%);
        padding-top: 30px;

        &__title
        {
            width: 220px;
            text-align: center;
            margin: auto;
        }

        &__para
        {
            width: 230px;
            margin: 10px auto;
            text-align: center;
            color: darken(#F2F2F2, 60%);
            font-weight: 400;
        }

    }

    &__button
    {
        @include button;
    }
 
}

.box-process
{
    height: 290px;
    margin-top: 30px;

    &__title
    {
        width: 250px;
        margin: 20px auto;
        padding-left: 20px;
    }

    &__list
    {
        width: 220px;
        margin: auto;
        counter-reset: listprocess;

        &__p
        {
            @include greysmallbox;
            counter-increment: listprocess;

            &::before
            {
                content: counter(listprocess);
                @include purplelist;
                position: relative;
                right: 10px;
            }

        }

        &__icon 
        {
            margin: 0px 10px 0px 5px;
            color: darken(#F2F2F2, 50%);
        }
    }
}

.box-restaurants
{
    height: 970px;
    background-color: $background-color-primary;
    padding-top: 20px;

    &__title
    {
        width: 270px;
        margin: 20px auto;
        padding-left: 20px;
    }

    &__lapalettedugout, &__lanoteenchantee, &__alafrançaise, &__ledelicedessens
    {
        @include largebox;

        &__image
        {
            @include boximage;

            &__photo
            {
                @include boxphoto;
            }

            &__newbutton
            {
                @include newbutton;
            }
        }

        &__para
        {
            width: 90%;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__description
            {
                line-height: 20px;
            }

            &__icon
            {
                height: 30px;
                color: darken(#F2F2F2, 60%);
            }
        }
    }
}

.box-footer
{
    background-color: $background-color-secondary;
    color: white;
    font-weight: 500;
    font-size: 0.7em;

    &__title
    {
        width: 270px;;
        margin: auto;
        padding-top: 20px;
    }

    &__list
    {
        width: 270px;
        height: 100px;
        margin: auto;
        list-style-type: none;
        padding: 10px 0px;
        
        &__li
        {
            width: 270px;
            line-height: 20px;
            
            a
            {
                color: white;
            }
        }

        &__icon
        {
            margin-right: 15px;
        }

        &__iconhands
        {
            margin-right: 10px;
        }

    }

}

