.box-restaurants
{
    height: 970px;
    background-color: $background-color-primary;
    padding-top: 20px;

    &__title
    {
        width: 250px;
        margin: 20px auto;
    }

    &__lapalettedugout, &__lanoteenchantee, &__alafrancaise, &__ledelicedessens
    {
        @include largebox;

        &__image
        {
            @include boximage;

            &__photo
            {
                @include boxphoto;
            }

            &__newbutton
            {
                @include newbutton;
            }
        }

        &__para
        {
            width: 90%;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__description
            {
                display: flex;
                flex-direction: column;
                line-height: 20px;
                
            }

            &__icon
            {
                width: 10%;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                color: 1f1f1f;

                &:hover
                {
                   
                    .box-restaurants__lapalettedugout__para__icon__heartempty, .box-restaurants__lanoteenchantee__para__icon__heartempty, .box-restaurants__alafrancaise__para__icon__heartempty, .box-restaurants__ledelicedessens__para__icon__heartempty
                    {
                        color: transparent;
                        background: linear-gradient($color-primary, $color-secondary);
                        -webkit-background-clip: text;
                    }

                    .box-restaurants__lapalettedugout__para__icon__heartfull, .box-restaurants__lanoteenchantee__para__icon__heartfull, .box-restaurants__alafrancaise__para__icon__heartfull, .box-restaurants__ledelicedessens__para__icon__heartfull
                    {
                        color: transparent;
                        background: linear-gradient($color-primary, $color-secondary);
                        -webkit-background-clip: text;
                    }

                }

                &__heartempty
                {
                    width: 18px;
                    color: #606060;
                    position: absolute;
                    transition: all ease-in 500ms;
                }

                &__heartfull
                {
                    width: 18px;
                    color: white;
                    transition: all ease-in 800ms;
                }

            }
                
        }

    }

}

