.main-section
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    padding-bottom: 50px;

    &__restaurants
    {
        width: 100%;
        height: 215px;

        &__photorestaurant
        {
            width: 100%;
            height: 200px;
            object-fit: cover;
            object-position: center;
            position: absolute;
        }

        &__infos
        {
            width: 100%;
            height: 50px;
            background-color: #f7f7f7;
            border-radius: 30px 30px 0px 0px;
            position: absolute;
            z-index: 1;
            margin-top: 160px;

            &__description
            {
                width: 90%;
                margin: auto;
                display: flex;
                justify-content: center;
                align-items: center;

                &__title
                {
                    font-family: $font-family-secondary;
                    font-size: 1.3em;
                    padding-top: 25px;
                    margin: 0px;
                }

                &__icon
                {
                    width: 5%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-top: 25px;
                    margin-left: 5px;
                }

            }

        }

    }


    &__menu
    {
        width: 60%;
        height: auto;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &__box
        {

            width: 100%;

            &__title
            {
                width: 30px;
                display: flex;
                text-transform: uppercase;
                font-weight: 400;
                font-size: 0.8em;
                color: darken(#F2F2F2, 60%);
                border-bottom: 2px solid $color-tertiary;
                padding: 10px 0px 5px 0px;
                margin-left: 5px;
            }   

            &__line
            {

                width:100%;
                display: flex;
                position: relative;
                margin-bottom: 10px;

                &:hover
                {
                    .main-section__menu__box__line__box
                    {
                        width: 85%;
                        border-radius: 10px 0px 0px 10px;

                        strong
                        {
                            width: 60%;
                            white-space: nowrap;
                        }

                        .main-section__menu__box__line__box__description 
                        {

                            p
                            {
                                width: 70%;
                                white-space: nowrap;
                            }

                            strong
                            {
                                width: 25%;
                            }

                        }

                    }

                    .main-section__menu__box__line__checked__icon
                    {
                        transform: rotate(360deg);
                    }

                }

                &__box 
                {
                    @include whitesmallbox;
                    transition: width 600ms, border-radius 600ms;

                    strong
                    {   
                        width: 90%;
                        font-size: 0.8em;
                        padding-left: 10px;
                        margin-top: 10px;
                        /*white-space: nowrap; (just with white space: nowrap, the transition ellipsis in return, run*/
                        overflow: hidden;
                        text-overflow: ellipsis;
                        transition: width ease-in 600ms;  
                    }

                    &__description
                    {
                        width: 95%;
                        display: flex;
                        justify-content: space-between;
                        margin: 3px 0px 0px 0px;

                        p
                        {
                            width: 70%;
                            margin: 0px;
                            font-size: 0.65em;
                            color: darken(#F2F2F2, 60%);
                            line-height: 12px;
                            padding-left: 10px;
                            margin-bottom: 10px;
                            /*white-space: nowrap; (just with white space: nowrap, the transition ellipsis in return, run*/  
                            overflow: hidden;
                            text-overflow: ellipsis;
                            transition: width ease-in 600ms;
                        }

                        strong
                        {
                            width: 20%;
                            display: flex;
                            justify-content: flex-end;
                            align-items: flex-end;
                            font-size: 0.7em;
                            margin: 0px 0px 10px 0px;
                            padding-left: 0px;
                        } 

                    }
            
                }
                
                &__checked
                {
                    width: 15%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $color-tertiary;
                    border-radius: 0px 10px 10px 0px;
                    position: absolute;
                    right: 0;

                    &__icon
                    {
                        color: white;
                        transition : transform 800ms;
                    }

                }

            }

        }

    }   
    

    &__button
    {
        @include button;
        margin-top: 40px;
    }

}


.main-section__menu__box
{
    &.first-animation 
    {
        animation: visible 1000ms 0.4s forwards;
        visibility: hidden;
    }

    &.second-animation 
    {
        animation: visible 1000ms 0.7s forwards;
        visibility: hidden;
    }

    &.third-animation 
    {
        animation: visible 1000ms 1s forwards;
        visibility: hidden;
    }
}




@keyframes visible
{
    0%
    {
        opacity: 0;
        visibility: hidden;
    }

    50%
    {
        opacity: 0.5;
        visibility: visible;
    }

    100%
    {
        opacity: 1;
        visibility: visible;
    }
}
