.box-header
{
    width: 90%;
    height: 100px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    &__logo
    {
        width: 50%;
    }

    &__research
    {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        &__icon
        {
            width: 15%;
            font-size: 1.2em;
        }

        &__input
        {
            width: 110px;
            height: 50%;
            font-size: 1em;
            font-weight: 500;
            border: none;

            &::placeholder
            {
                color: #353535;
                opacity: 1;
            }

            &:focus
            {
                outline-style: none;
            }
        }
    }
}
