$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$background-color-primary:#f6f6f6;
$background-color-secondary:#353535;
$font-family-primary:"Roboto", sans-serif;
$font-family-secondary:"Shrikhand", cursive;